<div class="jumbotron" style="text-align: center;">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
    content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <div>
    <a class="btn btn-primary btn-lg" routerLink="../login" style="margin-right:2em;">Login</a>
    <a class="btn btn-primary btn-lg" routerLink="../register">Register</a>
  </div>
</div>

<div class="three-boxes">
  <div class="first-box">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora distinctio corrupti quisquam temporibus vero
      eum qui! Blanditiis nulla excepturi similique quidem ea possimus, doloremque ipsum. Labore ipsam rerum error iure!
    </p>
  </div>
  <div class="second-box">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia cumque, qui est iure ratione pariatur! Quas nobis,
      magni vel dignissimos reprehenderit excepturi praesentium tempore neque et similique! Enim, saepe adipisci.</p>
  </div>
  <div class="third-box">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic eum rerum atque sit nisi quo dignissimos cupiditate
      quia repudiandae, deserunt qui cum ratione fuga optio, officia consequuntur vero, voluptas dicta.</p>
  </div>
</div>
